# SQLite Examples

## Exercise 1

We start by connecting to the db and creating the books table

In [2]:
import sqlite3

# Connect to the database (creates it if it doesn't exist)
conn = sqlite3.connect('mydatabase.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE  
 books (
                  id INTEGER PRIMARY KEY AUTOINCREMENT,
                  title TEXT NOT NULL,
                  author TEXT,
                  publication_year INTEGER
               )''')

# Commit changes
conn.commit()

# Close the connection
conn.close()

## Exercise 2

We add some data to the database.

In [3]:
import sqlite3

def insert_book(title, author, publication_year):
  conn = sqlite3.connect('mydatabase.db')
  cursor = conn.cursor()

  cursor.execute("INSERT INTO books (title, author, publication_year) VALUES (?, ?, ?)", (title, author, publication_year))
  conn.commit()
  conn.close()

# Example usage:
insert_book("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979)

## Exercise 3

We retrieve the data

In [4]:
import sqlite3

def get_all_books():
  conn = sqlite3.connect('mydatabase.db')
  cursor = conn.cursor()

  cursor.execute("SELECT * FROM books")
  rows = cursor.fetchall()
  conn.close()
  return rows

# Example usage:
books = get_all_books()
for book in books:
  print(book)

(1, "The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 1979)

## Exercise 4

We update the data

In [5]:
import sqlite3

def update_book(id, title, author, publication_year):
  conn = sqlite3.connect('mydatabase.db')
  cursor = conn.cursor()

  cursor.execute("UPDATE books SET title=?, author=?, publication_year=? WHERE id=?", (title, author, publication_year, id))
  conn.commit()
  conn.close()

# Example usage:
update_book(1, "New Title", "New Author", 2023)
books = get_all_books()
for book in books:
  print(book)

(1, 'New Title', 'New Author', 2023)

## Exercise 5

Removing the data

In [6]:
import sqlite3

def delete_book(id):
  conn = sqlite3.connect('mydatabase.db')
  cursor = conn.cursor()

  cursor.execute("DELETE FROM books WHERE id=?", (id,))
  conn.commit()
  conn.close()

# Example usage:
delete_book(1)
books = get_all_books()
for book in books:
  print(book)

## Exercise 6

We are going to create complex queries. First, we insert books in the database and then we run our queries.

In [7]:
# Insert sample books into the collection
insert_book("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979)
insert_book("The Restaurant at the End of the Universe", "Douglas Adams", 1980)
insert_book("Life, the Universe and Everything", "Douglas Adams", 1982)
insert_book("Mostly Harmless", "Douglas Adams", 1992)
insert_book("The Ultimate Hitchhiker's Guide to the Galaxy", "Douglas Adams", 2002)

insert_book("Harry Potter and the Philosopher's Stone", "J.K. Rowling", 1997)
insert_book("Harry Potter and the Deathly Hallows", "J.K. Rowling", 2007)
insert_book("The Martian", "Andy Weir", 2011)
insert_book("Ready Player One", "Ernest Cline", 2011)
insert_book("Project Hail Mary", "Andy Weir", 2021)

In [8]:
import sqlite3

def get_books_by_author(author_name):
    conn = sqlite3.connect('mydatabase.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM books WHERE author = ?", (author_name,))
    rows = cursor.fetchall()
    conn.close()
    return rows

def get_books_after_year(year):
    conn = sqlite3.connect('mydatabase.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM books WHERE publication_year > ?", (year,))
    rows = cursor.fetchall()
    conn.close()
    return rows

def search_books_by_title(keyword):
    conn = sqlite3.connect('mydatabase.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM books WHERE title LIKE ?", ('%' + keyword + '%',))
    rows = cursor.fetchall()
    conn.close()
    return rows

# Example usage:
print("Books by Douglas Adams:")
print(get_books_by_author("Douglas Adams"))

print("Books published after 2000:")
print(get_books_after_year(2000))

print("Books containing 'Guide' in title:")
print(search_books_by_title("Guide"))

Books by Douglas Adams:
[(2, "The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 1979), (3, 'The Restaurant at the End of the Universe', 'Douglas Adams', 1980), (4, 'Life, the Universe and Everything', 'Douglas Adams', 1982), (5, 'Mostly Harmless', 'Douglas Adams', 1992), (6, "The Ultimate Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 2002)]
Books published after 2000:
[(6, "The Ultimate Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 2002), (8, 'Harry Potter and the Deathly Hallows', 'J.K. Rowling', 2007), (9, 'The Martian', 'Andy Weir', 2011), (10, 'Ready Player One', 'Ernest Cline', 2011), (11, 'Project Hail Mary', 'Andy Weir', 2021)]
Books containing 'Guide' in title:
[(2, "The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 1979), (6, "The Ultimate Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 2002)]

## Exercise 7

We are going to work with two tables and their relationships. We start by creating the tables including primaries and foreign keys.

In [11]:
import sqlite3

# Create a new table for categories
conn = sqlite3.connect('mydatabase2.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS categories (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT NOT NULL
                )''')

# Add a foreign key to the books table
cursor.execute('''CREATE TABLE IF NOT EXISTS books (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    title TEXT NOT NULL,
                    author TEXT,
                    publication_year INTEGER,
                    category_id INTEGER,
                    FOREIGN KEY (category_id) REFERENCES categories(id)
                )''')

conn.commit()
conn.close()

Now, we are going to add data to each table:

In [12]:
def insert_category(name):
    conn = sqlite3.connect('mydatabase2.db')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO categories (name) VALUES (?)", (name,))
    conn.commit()
    conn.close()

def insert_book_with_category(title, author, year, category_id):
    conn = sqlite3.connect('mydatabase2.db')
    cursor = conn.cursor()
    cursor.execute("INSERT INTO books (title, author, publication_year, category_id) VALUES (?, ?, ?, ?)",
                   (title, author, year, category_id))
    conn.commit()
    conn.close()

# Example usage:
insert_category("Science Fiction")
insert_category("Philosophy")

insert_book_with_category("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979, 1)
insert_book_with_category("Sophie's World", "Jostein Gaarder", 1991, 2)

## Exercise 8

We are going to use the INNER JOIN to collect information from both table

In [13]:
def get_books_with_categories():
    conn = sqlite3.connect('mydatabase2.db')
    cursor = conn.cursor()
    query = '''
    SELECT books.title, books.author, categories.name AS category
    FROM books
    INNER JOIN categories ON books.category_id = categories.id
    '''
    cursor.execute(query)
    rows = cursor.fetchall()
    conn.close()
    return rows

# Example usage:
books_with_categories = get_books_with_categories()
for book in books_with_categories:
    print(book)

("The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 'Science Fiction')
("Sophie's World", 'Jostein Gaarder', 'Philosophy')

In [18]:
def get_books_with_categories(name):
    conn = sqlite3.connect('mydatabase2.db')
    cursor = conn.cursor()
    cursor.execute('''
        SELECT books.title, categories.name
        FROM books
        INNER JOIN categories ON books.category_id = categories.id
        WHERE categories.name = ?
        ''', (name,))
    rows = cursor.fetchall()
    conn.close()
    return rows


# Example usage:
books_with_categories = get_books_with_categories('Science Fiction')
for book in books_with_categories:
    print(book)

("The Hitchhiker's Guide to the Galaxy", 'Science Fiction')

## Exercise 9

Removing elements from the database

In [19]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Delete all rows from the 'books' table
cursor.execute("DELETE FROM books")
conn.commit()
conn.close()

print("All records deleted from 'books' table.")

All records deleted from 'books' table.

## Exercise 10

We remove the database file

In [20]:
import os

# Delete the entire 'mydatabase.db' file
if os.path.exists("mydatabase.db"):
    os.remove("mydatabase.db")
    print("Database 'mydatabase.db' deleted.")
else:
    print("Database file does not exist.")

Database 'mydatabase.db' deleted.