# Mongo Examples

We start by connecting to the db

In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://mongodb:27017/")

## Exercise 1

We are going to create our first database

In [2]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb://mongo:27017/")

# Access (or create) the database
db = client["library"]

# Access (or create) a collection (like a table)
books = db["books"]

## Exercise 2

We are going to insert books

In [3]:
def insert_book(title, author, year):
    book = {"title": title, "author": author, "publication_year": year}
    result = books.insert_one(book)
    print("Inserted book with id:", result.inserted_id)

insert_book("The Hobbit", "J.R.R. Tolkien", 1937)
insert_book("Dune", "Frank Herbert", 1965)

Inserted book with id: 68e6d73de0774128f243e5ff
Inserted book with id: 68e6d73de0774128f243e600

## Exercise 3

We are going to retrieve the information

In [4]:
def get_all_books():
    return list(books.find())

def get_books_by_author(author):
    return list(books.find({"author": author}))

# Example
for book in get_all_books():
    print(book)

{'_id': ObjectId('68e6d73de0774128f243e5ff'), 'title': 'The Hobbit', 'author': 'J.R.R. Tolkien', 'publication_year': 1937}
{'_id': ObjectId('68e6d73de0774128f243e600'), 'title': 'Dune', 'author': 'Frank Herbert', 'publication_year': 1965}

## Exercise 4

We are going to update data from the records

In [5]:
def update_book(title, new_author):
    result = books.update_one(
        {"title": title},
        {"$set": {"author": new_author}}
    )
    print("Modified count:", result.modified_count)

update_book("Dune", "F. Herbert")

Modified count: 1

## Exercise 5

We are going to delete one book

In [6]:
def delete_book(title):
    result = books.delete_one({"title": title})
    print("Deleted count:", result.deleted_count)

delete_book("The Hobbit")

Deleted count: 1

## Exercise 6

We will create three functions associated with three different queries:
- *get_books_by_author*: Find all books for a specific author.
- *get_books_after_year*: Find all books published after a certain year.
- *search_books_by_title*: Find all books containing a specific word in their titles.

We will start by inserting books into our database.

In [10]:
# Insert sample books into the collection
insert_book("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979)
insert_book("The Restaurant at the End of the Universe", "Douglas Adams", 1980)
insert_book("Life, the Universe and Everything", "Douglas Adams", 1982)
insert_book("Mostly Harmless", "Douglas Adams", 1992)
insert_book("The Ultimate Hitchhiker's Guide to the Galaxy", "Douglas Adams", 2002)

insert_book("Harry Potter and the Philosopher's Stone", "J.K. Rowling", 1997)
insert_book("Harry Potter and the Deathly Hallows", "J.K. Rowling", 2007)
insert_book("The Martian", "Andy Weir", 2011)
insert_book("Ready Player One", "Ernest Cline", 2011)
insert_book("Project Hail Mary", "Andy Weir", 2021)

Inserted book with id: 68e6db11e0774128f243e601
Inserted book with id: 68e6db11e0774128f243e602
Inserted book with id: 68e6db11e0774128f243e603
Inserted book with id: 68e6db11e0774128f243e604
Inserted book with id: 68e6db11e0774128f243e605
Inserted book with id: 68e6db11e0774128f243e606
Inserted book with id: 68e6db11e0774128f243e607
Inserted book with id: 68e6db11e0774128f243e608
Inserted book with id: 68e6db11e0774128f243e609
Inserted book with id: 68e6db11e0774128f243e60a

Now, we run the queries

In [11]:
import re 

def get_books_by_author(author_name):
    return list(books.find({"author": author_name}))

def get_books_after_year(year):
    return list(books.find({"publication_year": {"$gt": year}}))

def search_books_by_title(keyword):
    # Use regular expressions for partial matching
    regex = re.compile(keyword, re.IGNORECASE)
    return list(books.find({"title": {"$regex": regex}}))

# Example usage:
print("Books by Douglas Adams:")
for book in get_books_by_author("Douglas Adams"):
    print(book)

print("\nBooks published after 2000:")
for book in get_books_after_year(2000):
    print(book)

print("\nBooks containing 'Guide' in title:")
for book in search_books_by_title("Guide"):
    print(book)

Books by Douglas Adams:
{'_id': ObjectId('68e6db11e0774128f243e601'), 'title': "The Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 1979}
{'_id': ObjectId('68e6db11e0774128f243e602'), 'title': 'The Restaurant at the End of the Universe', 'author': 'Douglas Adams', 'publication_year': 1980}
{'_id': ObjectId('68e6db11e0774128f243e603'), 'title': 'Life, the Universe and Everything', 'author': 'Douglas Adams', 'publication_year': 1982}
{'_id': ObjectId('68e6db11e0774128f243e604'), 'title': 'Mostly Harmless', 'author': 'Douglas Adams', 'publication_year': 1992}
{'_id': ObjectId('68e6db11e0774128f243e605'), 'title': "The Ultimate Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 2002}

Books published after 2000:
{'_id': ObjectId('68e6db11e0774128f243e605'), 'title': "The Ultimate Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 2002}
{'_id': ObjectId('68e6db11e0774128f243e607'), 'title': 'Harry Potter and the Deathly Hallows', 'author': 'J.K. Rowling', 'publication_year': 2007}
{'_id': ObjectId('68e6db11e0774128f243e608'), 'title': 'The Martian', 'author': 'Andy Weir', 'publication_year': 2011}
{'_id': ObjectId('68e6db11e0774128f243e609'), 'title': 'Ready Player One', 'author': 'Ernest Cline', 'publication_year': 2011}
{'_id': ObjectId('68e6db11e0774128f243e60a'), 'title': 'Project Hail Mary', 'author': 'Andy Weir', 'publication_year': 2021}

Books containing 'Guide' in title:
{'_id': ObjectId('68e6db11e0774128f243e601'), 'title': "The Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 1979}
{'_id': ObjectId('68e6db11e0774128f243e605'), 'title': "The Ultimate Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'publication_year': 2002}

## Exercise 7

We are going to see how relationships can be represented in MongoDB

In [24]:
from bson.objectid import ObjectId

categories = db["categories"]

def insert_category(name):
    category = {"name": name}
    result = categories.insert_one(category)
    return result.inserted_id

def insert_book_with_category(title, author, year, category_id):
    book = {
        "title": title,
        "author": author,
        "publication_year": year,
        "category_id": ObjectId(category_id)
    }
    books.insert_one(book)

# Example usage:
sf_id = insert_category("Science Fiction")
philo_id = insert_category("Philosophy")

insert_book_with_category(
    "The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979, sf_id)
insert_book_with_category(
    "Sophie's World", "Jostein Gaarder", 1991, philo_id)

## Exercise 8: Lookup

We are going to combine data from multiple collections using the aggregation pipeline and the $lookup operator, which performs a left outer join between collections.

In [25]:
def get_books_with_categories():
    pipeline = [
        {
            "$lookup": {
                "from": "categories",
                "localField": "category_id",
                "foreignField": "_id",
                "as": "category_info"
            }
        },
        {
            "$unwind": "$category_info"
        },
        {
            "$project": {
                "_id": 0,
                "title": 1,
                "author": 1,
                "category": "$category_info.name"
            }
        }
    ]
    return list(books.aggregate(pipeline))

# Example usage:
for book in get_books_with_categories():
    print(book)

{'title': "The Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams', 'category': 'Science Fiction'}
{'title': "Sophie's World", 'author': 'Jostein Gaarder', 'category': 'Philosophy'}

Extend the aggregation with a filter stage

In [26]:
pipeline = [
    {"$lookup": {
        "from": "categories",
        "localField": "category_id",
        "foreignField": "_id",
        "as": "category_info"}},
    {"$unwind": "$category_info"},
    {"$match": {"category_info.name": "Science Fiction"}},
    {"$project": {"title": 1, "author": 1, "_id": 0}}
]

for book in books.aggregate(pipeline):
    print(book)

{'title': "The Hitchhiker's Guide to the Galaxy", 'author': 'Douglas Adams'}

We clean the books with categories

In [27]:
delete_book("The Hitchhiker's Guide to the Galaxy")
delete_book("Sophie's World")

Deleted count: 1
Deleted count: 1

## Exercise 9

Cleaning the collection

In [28]:
result = books.delete_many({})
print("Deleted documents:", result.deleted_count)

Deleted documents: 10

## Exercise 10

Cleaning the database

In [30]:
client.drop_database("library")
print("Database 'library' deleted.")

Database 'library' deleted.